*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    /* background: repeating-linear-gradient(-45deg, transparent, transparent 2px, purple 2px, purple 4px); */
    overflow-x: hidden;
}

header{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 0 5px gray;
    transition: 1.5s;
    background: whitesmoke;
    padding: 0rem;
}

header img{
    margin-top: -0.1rem;
}

header p{
    margin-top: 1.4rem;
    margin-left: -2.5rem;
    font-weight: bold;
}


.fill{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2rem;
}

.write{
    box-shadow: 0 0 5px gray;
  padding: 1.5rem;
}
.fill input{
    padding:0.7rem 5rem;
    margin-bottom: 1rem;
}

.fill button{
    padding:0.7rem 9.3rem;
    margin-top: 1rem;
    font-weight: bolder;
    background: blue;
    color: whitesmoke;
    border: none;
    margin-bottom: 1rem;
}
form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

.see{
    display: flex;
}

.see i{
    margin-left: -3rem;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bolder;
}
footer{
    text-align: center;
    margin: 2rem 0;
    letter-spacing: 0.1rem;

}
@media  (max-width:755px){
    form{
        display: block;
    }
}